<!DOCTYPE HTML>
<html>
    <head>
        
    </head>
    <body>
        <form action = "/email_controller/email_send" method = "post">
            Email: <input type = "text" name="email"></br>
            Title: <input type = "text" name="title"></br>
            Content: <textarea name="content"></textarea></br>
            <input type="submit" value="send">
            
        </form>
    </body>
</html>