<h1>Add a new number</h1>
<form action="/numbers/add_process" method="post">
  Name: <input type="text" name="phone_user"><br>
  Phone number: <input type="text" name="phone_number">
  <input type="submit" value="add">
</form>